@use "app/mixins" as *
@use "app/functions" as *

.root
	height: toRem(50)
	background: $BackgroundElements
	color: $LightTextColor

.wrapper
	@include WidgetWrapper
	@include FlexWrapper
	justify-content: center

.links
	display: flex

.link
	color: $LightTextColor
	height: toRem(50)
	padding: 0 toRem(20)
	transition: $FastTransition
	@include ButtonFont($font-weight: normal, $text-transform: inherit)
	&:hover
		color: $SecondAccent
	&:last-child
		padding-right: 0

		// background: $BackgroundCard
