@use "app/mixins" as *
@use "app/functions" as *

.rooms
    display: block
    padding-bottom: toRem(60)
.swiper
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0))
    mask-size: 100% 100%
    mask-position: 0 0
    mask-repeat: no-repeat
.slide
    display: block
    background: $BackgroundLight
    width: 100%
    max-width: toRem(1000)
    height: toRem(500)
    margin: 0
    // margin-left: toRem(100)
    border-radius: toRem(20)
