@use "app/mixins" as *
@use "app/functions" as *

.rooms
    display: block
    padding-bottom: toRem(60)
.swiper
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 90%, rgba(255, 255, 255, 0))
    mask-size: 100% 100%
    mask-position: 0 0
    mask-repeat: no-repeat

.room
    background: $BackgroundLight
    padding: toRem(60) toRem(100)
    width: 100%
    max-width: toRem(1000)
    height: toRem(500)
    margin: 0
    // margin-left: toRem(100)
    border-radius: toRem(20)
    cursor: default
    position: relative
    overflow: hidden
    &__title
        margin-bottom: toRem(30)
        @include H4Bold
    &__btns
        position: absolute
        bottom: toRem(0)
        right: toRem(0)
        display: flex
        flex-direction: column
        gap: toRem(10)
        align-items: flex-end
    &__wrapper
        width: 100%
        height: 100%
        transition: $FastTransition
        position: relative
    &__modal
        position: absolute
        top: toRem(60)
        left: toRem(100)
        transform: translateX(150%)
        height: calc( 100% - toRem(120) )
        width: calc( 100% - toRem(200) )
        transition: $FastTransition
.inactive
    transform: translateX(-150%)
.active
    transform: translateX(0)
.stuff
    &__title
        margin-bottom: toRem(10)
        @include H2Bold
